In [1]:
import numpy as np

## DataTypes & Attributes

In [81]:
#1
# NumPy's main datatype is ndarray (n dimensional array) 
a1 = np.array([1 , 2 , 3 ])
a1

array([1, 2, 3])

In [4]:
#2
type(a1)

numpy.ndarray

In [74]:
a2 = np.array([[1 , 2.4 , 3],
             [4 , 5 , 6.5]])

a3 = np.array([[[1 , 3 , 3 ],
               [3 , 5 , 6],
               [3 , 5 , 6],
                [3 , 5 , 6]],
               
              [[10 , 11 , 12],
              [13 , 14 , 15],
               [16 , 17 , 18],
               [3 , 5 , 6]]])

In [75]:
a2

array([[1. , 2.4, 3. ],
       [4. , 5. , 6.5]])

In [76]:
a3

array([[[ 1,  3,  3],
        [ 3,  5,  6],
        [ 3,  5,  6],
        [ 3,  5,  6]],

       [[10, 11, 12],
        [13, 14, 15],
        [16, 17, 18],
        [ 3,  5,  6]]])

In [8]:
#2
a1.shape

(3,)

In [9]:
 a2.shape

(2, 3)

In [10]:
a3.shape

(2, 3, 3)

In [13]:
#3
a1.ndim

1

In [14]:
a3.ndim

3

In [15]:
a2.ndim

2

In [16]:
a1.ndim , a2.ndim , a3.ndim

(1, 2, 3)

## whatever data you're working with, it somehow gets turned into numbers and then a machine learning algorithm will find patterns in these numbers

In [17]:
#4
a1.dtype , a2.dtype , a3.dtype

(dtype('int32'), dtype('float64'), dtype('int32'))

In [18]:
#5
a1.size , a2.size , a3.size

(3, 6, 18)

In [19]:
#6
type(a1) , type(a2) , type(a3)

(numpy.ndarray, numpy.ndarray, numpy.ndarray)

In [24]:
#so now to really exemplify Numpy being the backbone of other scientific data packages, that is  let's 
#create a dataframe form a NumPy array
import pandas as pd
df = pd.DataFrame(a2)
df

     0    1    2
0  1.0  2.4  3.0
1  4.0  5.0  6.5

So this is a pandas dataframe and this is our numpy array.
‫So essentially, no matter what's in our pandas dataframe, if it's all numbers, pandas is built on
‫top of numpy
‫So to represent our data as a data frame, it's just combining NumPy arrays in a formatted way.
‫So that's a very important point to remember as well, is that once we start to get into the weeds of
NumPy and start to work out what kind of numerical computing it can do, we can start to think, okay,

so if we have some data and we import it in PANDAS, it's actually just a different combination umpire
‫raise.
‫So if we want to perform some manipulations on it, we're actually just performing manipulations on
‫different lists of numbers.
‫All right.
‫That's a brief introduction to NumPy, his main data type.
‫That's the main thing to take away from this is that Andhra, whatever array you have in numpy is of
‫type NDI array and that pandas and other machine learning algorithm packages are built on top of numpy
‫and machine learning is finding patterns in numpy arrays.
‫So with that being said, let's take a little break.
‫If you need to go back and explore, create an array of your own by trialing it out.
‫If in doubt, run the code and I'll see you in the next video.

so if we have some data and we import it in PANDAS, it's actually just a different combination umpire
‫raise.
‫So if we want to perform some manipulations on it, we're actually just performing manipulations on
‫different lists of numbers.
‫All right.
‫That's a brief introduction to NumPy, his main data type.
‫That's the main thing to take away from this is that Andhra, whatever array you have in numpy is of
‫type NDI array and that pandas and other machine learning algorithm packages are built on top of numpy
‫and machine learning is finding patterns in numpy arrays.
‫So with that being said, let's take a little break.
‫If you need to go back and explore, create an array of your own by trialing it out.
‫If in doubt, run the code and I'll see you in the next video.

NumPy is called the "backbone" of the scientific Python ecosystem because it provides a powerful and efficient array object that forms the foundation for a wide variety of other libraries, including pandas, scikit-learn, and Matplotlib. These libraries build on top of the functionality provided by NumPy to provide powerful tools for data manipulation, analysis, and visualization. The array object in NumPy allows for fast, vectorized operations and is highly optimized for performance, making it well-suited for large-scale data processing and scientific computing tasks.

In my previous answer, when I said "NumPy provides a powerful and efficient array object that forms the foundation for a wide variety of other libraries," I meant that the array object in NumPy is used as the basis for many other libraries in the scientific Python ecosystem. These other libraries build on top of the functionality provided by NumPy to provide additional features and tools for data manipulation, analysis, and visualization. For example, pandas uses NumPy arrays as the underlying data structure for its DataFrame and Series objects, which provide additional methods for working with data in a tabular format. Similarly, scikit-learn uses NumPy arrays as the input for its machine learning algorithms, and Matplotlib uses NumPy arrays to represent and manipulate data for plotting and visualization. In short, NumPy is an important and widely used library that provides a powerful array object that is used as a foundation for many other libraries in the scientific Python ecosystem.

Yes, that's correct. The "ndarray," or "n-dimensional array," is the main data structure provided by NumPy and is used to store and manipulate large arrays of homogeneous data (i.e., data of the same type, such as integers or floating-point numbers). The "n" in "ndarray" refers to the fact that these arrays can have any number of dimensions, not just one or two as in traditional arrays. The ndarray is a universal array meaning it can handle a wide variety of data types, such as integers, floating-point numbers, and complex numbers, and can be used for a wide range of tasks, including mathematical and statistical operations, linear algebra, and data manipulation and transformation. The ndarray is highly optimized for performance, making it well-suited for large-scale data processing and scientific computing tasks.

#real starting the numpy with checking all things
##just leaving the things that i have done up i have done agian 
##check the Anatomy of NumPy array

## 1 -  NumPy DataTypes and Attributes

In [4]:
import numpy as np
check1 = np.array([1 , 2 , 3])

In [5]:
#1
check1.ndim

1

In [8]:
check2 = np.array([[1 , 2 , 4],
                  [3 , 5 ,5],
                  [4 , 5 ,5]])

In [9]:
check2.ndim

2

In [57]:


check3 = np.array([
    [
        [1 , 3 , 4],
         [1 , 3 , 4],
         [1 , 3 , 4]
    ],
     [
        [1 , 3 , 4],
         [1 , 3 , 4],
         [1 , 3 , 4]
    ],
     [
        [1 , 3 , 4],
         [1 , 3 , 4],
         [1 , 3 , 4]
    ],
      [
        [1 , 3 , 4],
         [1 , 3 , 4],
         [1 , 3 , 4]
    ]
    
])

In [62]:
check3.ndim

3

In [55]:
#2
type(check1)

numpy.ndarray

In [64]:
#3
check3.shape

(3, 3, 3)

often time with machine learning algorithm your main focus will be making sure the shape of your data that goes into machine learning algorithm lines up with the other data that you're putting in as well as the output we will see in fututre secion  

#note axis = 0 refer to the number of rows axis = 1 refers to the number of column and the axis = n refers to the dimension that are beyond just rows and columns its very hard for us humans to visualise anything more than three dimesnions, but in numpy and with computer you could have as many ends as you want

In [66]:
#shortform

#4
check3.dtype

dtype('int32')

In [67]:
check3.shape

(3, 3, 3)

In [68]:
type(check1)

numpy.ndarray

In [69]:
check3.ndim

3

In [70]:
check3

array([[[1, 3, 4],
        [1, 3, 4],
        [1, 3, 4]],

       [[1, 3, 4],
        [1, 3, 4],
        [1, 3, 4]],

       [[1, 3, 4],
        [1, 3, 4],
        [1, 3, 4]]])

In [71]:
#5
check3.size

27

In [85]:
t1 = np.array(
   
     [
        [1 , 3 , 4] , 
         [1 , 3 , 4] , 
         [1 , 3 , 4] , 
    ]
    
)

In [83]:
import pandas as pd

In [86]:
dataframe = pd.DataFrame(t1)
dataframe

   0  1  2
0  1  3  4
1  1  3  4
2  1  3  4

## 2 . Creating arrays

In [15]:
#in the previous section we gone through creating some line of array and it is very tedious task to type all of this  number

In [12]:
sample_array = np.array([1 , 2 ,3])
sample_array

array([1, 2, 3])

In [13]:
#1
sample_array.dtype

dtype('int32')

In [22]:
#2 
ones = np.ones((2 , 3))

In [23]:
ones

array([[1., 1., 1.],
       [1., 1., 1.]])

In [24]:
#3
ones.dtype

dtype('float64')

In [25]:
#4
type(ones)

numpy.ndarray

In [26]:
#5
#you might be think why would you want zeros ones well you can imagine 0 like placeholder array may in ml you want to fill array or with initial data the data you don't know yet you create zeros just to work out the shape of the data you working with before you implement any data you could make sure your shape lined up using arrays filled with 0  
zeros = np.zeros((2 ,3))

In [27]:
zeros

array([[0., 0., 0.],
       [0., 0., 0.]])

In [29]:
#6 
#starting from 0 up to 10 with difference of 2

#range_array = np.arange(0, 10 )
range_array = np.arange(0, 10 , 2 )
range_array

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [39]:
#7
#giving me a random number from 0 to 10 with 3 * 5 matrix the number from 0 to 10 is random the number is randomly given from 0 to 10 in 3 * 5 matrix
random_array = np.random.randint(0 , 10 , size = (3,5))
random_array

array([[0, 1, 3, 2, 1],
       [1, 4, 1, 1, 3],
       [1, 4, 0, 2, 2]])

In [42]:
#8
random_array.size

15

In [41]:
#9
random_array.shape

(3, 5)

In [43]:
#10
random_array_2 = np.random.random((5 , 3))
random_array_2

array([[0.63016659, 0.48843909, 0.99349655],
       [0.08903268, 0.49257673, 0.14920504],
       [0.98564129, 0.8043008 , 0.82912329],
       [0.36235342, 0.54497861, 0.88359131],
       [0.44727183, 0.67117016, 0.03407134]])

In [44]:
random_array_2.shape

(5, 3)

In [45]:
#11
                            # note you can see the anatomy of a numpy array axis = 0 means row alwasy first came in paramater and axis = 1  is column always came in 2 positon in paramater
random_array_3 = np.random.rand(5 , 3)
random_array_3

array([[0.37718042, 0.4987548 , 0.38981034],
       [0.51691249, 0.0316926 , 0.22359917],
       [0.64192257, 0.95733608, 0.66736531],
       [0.27057567, 0.56842738, 0.08859766],
       [0.947952  , 0.31591848, 0.99928649]])

#12
## but if we want to share our notebook with some one else and want to them  run our cell and get exact result what we did so we can reproduce our experiments thats where numpy random seeds came in it allows us to still generate and the number random number that is reproducable

In [58]:
#Pseudo-random numbers
#is that when numpy generate random  numbers they are pseudo random numbers 
#we can see with using np.random.seed()
#when we use seed when assigning random number actually it not gona change but when we remove it start changine in each execute


np.random.seed(seed=4534534)
random_array_4 = np.random.randint(10, size=(5,3))
random_array_4

array([[3, 2, 7],
       [2, 2, 3],
       [2, 1, 3],
       [7, 4, 5],
       [9, 3, 4]])

In [61]:
np.random.seed(7)
random_array_5 = np.random.random((5,3))
random_array_5

array([[0.07630829, 0.77991879, 0.43840923],
       [0.72346518, 0.97798951, 0.53849587],
       [0.50112046, 0.07205113, 0.26843898],
       [0.4998825 , 0.67923   , 0.80373904],
       [0.38094113, 0.06593635, 0.2881456 ]])

In [64]:
random_array_5 = np.random.random((5,3))
random_array_5

array([[0.20484909, 0.49076589, 0.37238469],
       [0.47740115, 0.36589039, 0.83791799],
       [0.76864751, 0.31399468, 0.57262533],
       [0.27604905, 0.45284293, 0.35297837],
       [0.65739946, 0.37035108, 0.45909298]])

# the number you see numpy generate random actually they are not actually random they are pseudo random numbersimportant take is that if we wanted to someone wanted to use our notebook generate random numbers but actually like us that reproduce our experiment exactly we sould a set random seet

In [67]:

#13
random_array_4.shape

(5, 3)

## 3. viewing arrays and matrices

In [72]:
#0
#unique elements in numpy array
np.unique(random_array_4)

array([1, 2, 3, 4, 5, 7, 9])

In [82]:
a1

array([1, 2, 3])

In [78]:
a2

array([[1. , 2.4, 3. ],
       [4. , 5. , 6.5]])

In [79]:
a3

array([[[ 1,  3,  3],
        [ 3,  5,  6],
        [ 3,  5,  6],
        [ 3,  5,  6]],

       [[10, 11, 12],
        [13, 14, 15],
        [16, 17, 18],
        [ 3,  5,  6]]])

In [83]:
#viewing arrays and metrices takes a little bit practises and creating them off course

In [84]:
#1
a1[0]

1

In [85]:
#1
a2[0]

array([1. , 2.4, 3. ])

In [86]:
a3.shape

(2, 4, 3)

In [87]:
#2
a3[0]

array([[1, 3, 3],
       [3, 5, 6],
       [3, 5, 6],
       [3, 5, 6]])

In [88]:

a2

array([[1. , 2.4, 3. ],
       [4. , 5. , 6.5]])

In [89]:
#3
a2[1]

array([4. , 5. , 6.5])

In [90]:
a3

array([[[ 1,  3,  3],
        [ 3,  5,  6],
        [ 3,  5,  6],
        [ 3,  5,  6]],

       [[10, 11, 12],
        [13, 14, 15],
        [16, 17, 18],
        [ 3,  5,  6]]])

In [100]:
a3.shape

(2, 4, 3)

In [111]:
#4
#slicing with arrays like python list
a3[:2, :2, :2]

array([[[ 1,  3],
        [ 3,  5]],

       [[10, 11],
        [13, 14]]])

In [109]:
#confusion so checking not adddddd in performing
# #so 3 is creating 3 [] [] [] nad 4 is creating 
# 1
# 1
# 1
# 1 and another 4 is creating 1 1 1 1

a4 = np.random.randint(10, size=(3,4 , 4  ))
a4

array([[[9, 6, 5, 6],
        [8, 5, 9, 4],
        [6, 0, 6, 2],
        [3, 1, 6, 7]],

       [[0, 0, 4, 7],
        [0, 2, 9, 6],
        [1, 2, 2, 8],
        [9, 7, 2, 4]],

       [[7, 7, 9, 1],
        [0, 1, 8, 7],
        [4, 6, 1, 4],
        [8, 7, 3, 3]]])

In [122]:
#5
a4 = np.random.randint(10, size=(2 , 3 , 4 , 5))
a4

array([[[[0, 6, 0, 8, 2],
         [0, 0, 6, 9, 0],
         [3, 5, 7, 6, 6],
         [9, 3, 6, 1, 3]],

        [[9, 6, 6, 6, 6],
         [0, 6, 0, 6, 5],
         [6, 3, 1, 4, 5],
         [9, 4, 2, 8, 9]],

        [[9, 0, 9, 3, 1],
         [1, 5, 1, 0, 8],
         [3, 1, 6, 2, 9],
         [8, 5, 2, 2, 3]]],


       [[[4, 8, 7, 0, 5],
         [6, 2, 5, 8, 8],
         [4, 3, 3, 5, 1],
         [1, 4, 0, 6, 9]],

        [[6, 1, 2, 1, 8],
         [1, 3, 5, 4, 3],
         [3, 4, 8, 1, 2],
         [7, 9, 6, 9, 2]],

        [[4, 0, 2, 2, 0],
         [4, 4, 7, 1, 2],
         [3, 4, 8, 3, 1],
         [3, 4, 6, 7, 9]]]])

In [123]:
#6
a4.shape, a4.ndim

((2, 3, 4, 5), 4)

In [125]:
#7
#so how to get the the first 4 numbers of the inner most arrays
a4[:,:,:,:2]

array([[[[0, 6],
         [0, 0],
         [3, 5],
         [9, 3]],

        [[9, 6],
         [0, 6],
         [6, 3],
         [9, 4]],

        [[9, 0],
         [1, 5],
         [3, 1],
         [8, 5]]],


       [[[4, 8],
         [6, 2],
         [4, 3],
         [1, 4]],

        [[6, 1],
         [1, 3],
         [3, 4],
         [7, 9]],

        [[4, 0],
         [4, 4],
         [3, 4],
         [3, 4]]]])

## 4. Manipulating & comparing arrays

### Arithmetic

In [126]:
a1

array([1, 2, 3])

In [129]:
ones = np.ones(3)
ones

array([1., 1., 1.])

In [131]:

#1


a1 + ones

array([2., 3., 4.])

In [132]:
#2


a1-ones

array([0., 1., 2.])

In [133]:
#3


a1 * ones

array([1., 2., 3.])

In [134]:
a2

array([[1. , 2.4, 3. ],
       [4. , 5. , 6.5]])

In [135]:
#4



a1 * a2

array([[ 1. ,  4.8,  9. ],
       [ 4. , 10. , 19.5]])

In [137]:
a3

array([[[ 1,  3,  3],
        [ 3,  5,  6],
        [ 3,  5,  6],
        [ 3,  5,  6]],

       [[10, 11, 12],
        [13, 14, 15],
        [16, 17, 18],
        [ 3,  5,  6]]])

In [138]:
#5
#operands could not be brodcast together with shapes(2,3) (2,3,3)
#so in starting numpy is fast because it vectorizes the code through a technique called broadcasting
#so to be fast brodcasting have few rules go and search broadcasting numpy
# the term broadcasting describes how numpy treats arrays with different shapes during arithmetic operations.

#how can you reshape a2 to be compatible with a3? 
# search : "how to reshape numpy array"

a2 * a3

ValueError: operands could not be broadcast together with shapes (2,3) (2,4,3)

In [139]:
#6
a1 / ones

array([1., 2., 3.])

In [140]:
#7
a2 / a1

array([[1.        , 1.2       , 1.        ],
       [4.        , 2.5       , 2.16666667]])

In [141]:
#8
#floor division removes the decimals (rounds down)
a2 // a1

array([[1., 1., 1.],
       [4., 2., 2.]])

In [142]:
#9
a2 ** 2

array([[ 1.  ,  5.76,  9.  ],
       [16.  , 25.  , 42.25]])

In [143]:
#10
np.square(a2)

array([[ 1.  ,  5.76,  9.  ],
       [16.  , 25.  , 42.25]])

In [145]:
#11
a1 + ones

array([2., 3., 4.])

In [144]:
#12
np.add(a1, ones)

array([2., 3., 4.])

In [148]:
#12
a1 % 2

array([1, 0, 1], dtype=int32)

In [147]:
#14
a1 / 2

array([0.5, 1. , 1.5])

In [149]:
#15
np.exp(a1)

array([ 2.71828183,  7.3890561 , 20.08553692])

In [150]:
#16
np.log(a1)

array([0.        , 0.69314718, 1.09861229])

### Aggregation

In [153]:
#Aggregation = performing the same operation a number of things
#Aggregation refers to the process of combining multiple pieces of data into a single, summarized representation. In data analysis, aggregation is used to perform operations such as calculating sums, averages, counts, and other summary statistics. This allows you to quickly understand the key patterns and relationships in a large dataset.
#in our case the number of things is a numpy array

In [164]:
#1
listy_list = [1 ,2 ,3]
type(listy_list)

list

In [156]:
#2
sum(listy_list)

6

In [157]:
a1

array([1, 2, 3])

In [159]:
#3
sum(a1)

6

In [160]:
#4
np.sum(a1)

6

In [162]:
#two you can get confusing two differnts ways#okay why ther is different function and what is the difference between this two you can get cofnfusing having two differnt ways of permorming the same agregation a set of data and remeber  agreagation  just permoming same operation in number of things

#use python's methods (sum(), on python datatypes and use

#NumPy's methods on NumPy arrays

In [166]:
#1
# Creative a massive Numpy array
massive_array = np.random.random(100000)
massive_array.size

100000

In [170]:
#2
massive_array[:10]

array([0.93944553, 0.96440196, 0.04947572, 0.33467517, 0.34983755,
       0.52238106, 0.08781228, 0.55267127, 0.01316815, 0.79784768])

In [175]:
#3
#% now we gona use one of juypter notebook  or python magic function magic funcion have litle percentage sign in starting 
#%timeit how much a paricular line code takes time to run

%timeit sum(massive_array) #Python's sum()
%timeit np.sum(massive_array) #NumPy's sum()

17.8 ms ± 1.88 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)
112 µs ± 5.43 µs per loop (mean ± std. dev. of 7 runs, 10,000 loops each)

In [176]:
#so 17.8 ms per loop +- 1.88 millisecond 10 loops
#took 112 microsecond 

#17.8 millisecond to microsecond
17800 / 34

#it means numpy np.sum is 523.5294117647059 faster then python sum

523.5294117647059

#      NOTE  use python's methods (sum(), on python datatypes and use         NumPy's methods on NumPy arraysbecause numpy is being optimized to perfrom numerical calculations whenever you want to perform numerical calculations always remember to use  numpy version of an aggregation function

In [ ]:
#4
#talking about agregation funcition lets have few more