In [1]:
# Let's listify the contents
what_were_covering = [
    "0. An end-to-end Scikit-Learn workflow",
    "1. Getting the data ready",
    "2. Choose the right estimator/algorithm for our problems",
    "3. Fit the model/algorithm and use it to make predictions on our data",
    "4. Evaluating a model",
    "5. Improve a model",
    "6. Save and load a trained model",
    "7. Putting it all together!"]

In [2]:
# Standard imports
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

## 1. Getting our data ready to be used with machine learning

Three main things we have to do:

    1. Split the data into features and labels (usually `X` & `y`)
    
    
    2. Filling (also called imputing) or disregarding missing values
    
    
    3. Converting non-numerical values to numerical values (also called feature encoding)

In [12]:
#1 . Get the data ready

import pandas as pd
heart_disease = pd.read_csv('../aaData/heart-disease.csv')
heart_disease

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [13]:
heart_disease.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [14]:
#remember in pandas data frame axis 1 is column 
#so x is every single column except target column
X = heart_disease.drop("target", axis = 1)
X.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2

In [18]:
y = heart_disease["target"]
y.head()

0    1
1    1
2    1
3    1
4    1
Name: target, dtype: int64

In [19]:
# in ml the one of the most fundamental principle  never evaluate or test your model on the data that the model have learn from which why split into train and test set

In [21]:
# split the data into training and test sets
#sckit learn have convient funcion allowing us to do 
#looking at the test sets means seeing the final question paper


from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, 
                                                    y, 
                                                    test_size=0.3)

In [22]:
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((212, 13), (91, 13), (212,), (91,))

In [23]:
X.shape

(303, 13)

In [34]:
X.shape[0] * 0.8

242.4

In [28]:
212 + 91

303

In [24]:
len(heart_disease)

303

In [35]:
#so for training we have split 30% data and for the test we have split 90% data

the more data doesn't mean it is good the data must be useful so we can get real results 

do this step before creating your machine learning model 

step :
     clean data > transform data > reduce data
        
        
    some times data is missing we have table with missing value , missing label that doesn't help or allow to built right machine learning model we usually remove or we might calculate  some sort of average
    
    
    computer doesn't understand to teach computer so we have to convert the data into computer understand convert our information into numbers like price of the house salry which is easy to create model easily as computer easily understad number easily 
    but how about colurs what is grenn what is blue computer doen't understand so we convert into rgb number so computer can understand
    
    
    why reduce ?  why reduce our data don't nedd as many data we can get theroritically yes rember everything cost money as much data we have the more cpu or computation will take the more enrgy takes to run compuation if we can get the result in less data the why needd more so it saves company money especially big company like google have large amount of data and run lots of cpu 
    sometime data reduction  it is said to be dimensionality reduction or column reduction many columns on table but it make slow so you can remove some column which is not much needed 
    
    
    As a datascientist all the data you have automatically going to  be all perfect you have to clean it transform data and reduce data
This idea of wrangling data , of moving around data into a form that is useful to you is part of the skill

### 1.1 make sure it's all numerical

to begin we need other data set it is because the heart disease data set is already a numerical data set

In [51]:
car_sales = pd.read_csv("./car-sales-extended.csv")
car_sales.head()

     Make Colour  Odometer (KM)  Doors  Price
0   Honda  White          35431      4  15323
1     BMW   Blue         192714      5  19943
2   Honda  White          84714      4  28343
3  Toyota  White         154365      4  13434
4  Nissan   Blue         181577      3  14043

In [52]:
#its safe to assume that doors is numerical  and it's also categorical because you could go cars with four doors fit into this category carrs with 5 doors fit into this category car with 3 doors fit into this category 
car_sales["Doors"].value_counts()

4    856
5     79
3     65
Name: Doors, dtype: int64

In [43]:
len(car_sales)

1000

In [45]:
car_sales.dtypes

Make             object
Colour           object
Odometer (KM)     int64
Doors             int64
Price             int64
dtype: object

In [47]:
# Split into X/y
X = car_sales.drop("Price", axis=1)
y = car_sales["Price"]

# Split into training and test
X_train, X_test, y_train, y_test = train_test_split(X,
                                                   y,
                                                   test_size=0.2)

In [48]:

# Build machine learning model


#randomforestregressor   if you remeber back in workflow we are pridicting classification problem this is like classification but regressor is going to pridict number 
from sklearn.ensemble import RandomForestRegressor

model = RandomForestRegressor()
model.fit(X_train, y_train)
model.score(X_test, y_test)

ValueError: could not convert string to float: 'BMW'

In [50]:
# so our machine learning model cannot deal with string as we know we have to convert into number #so how do with sklearn

<img src = "./Screenshot 2023-02-13 182226.png"/>

In [53]:
# Turn the categories into numbers
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

                                        #so why doors as it is numerical because is also comes under categorical 
categorical_features = ["Make", "Colour", "Doors"]
one_hot = OneHotEncoder()      #taking the advantage of OneHotEncoder() class that we have imported
              # it is saying he columntransformer take the onehotencoder and apply it to the categorical features and for the remainder of the columns that you find pass through don't do anyting to those
transformer = ColumnTransformer([("one_hot",  #this is going to use column transformer  and then this is going to accept a list of tuples with a name "one_hot"                                   one_hot,
                                  one_hot,# and pass the actual transformer we want to use
                                  categorical_features)], # the list of feature we want to transform
                                   remainder="passthrough") 

# and what we have done  is fit our transformer to the x data 
transformed_X = transformer.fit_transform(X)
transformed_X

array([[0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 3.54310e+04],
       [1.00000e+00, 0.00000e+00, 0.00000e+00, ..., 0.00000e+00,
        1.00000e+00, 1.92714e+05],
       [0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 8.47140e+04],
       ...,
       [0.00000e+00, 0.00000e+00, 1.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 6.66040e+04],
       [0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 2.15883e+05],
       [0.00000e+00, 0.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 2.48360e+05]])

In [55]:
X.head()

     Make Colour  Odometer (KM)  Doors
0   Honda  White          35431      4
1     BMW   Blue         192714      5
2   Honda  White          84714      4
3  Toyota  White         154365      4
4  Nissan   Blue         181577      3

In [54]:
pd.DataFrame(transformed_X)

      0    1    2    3    4    5    6    7    8    9    10   11        12
0    0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  1.0  0.0   35431.0
1    1.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  1.0  192714.0
2    0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  1.0  0.0   84714.0
3    0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  1.0  0.0  1.0  0.0  154365.0
4    0.0  0.0  1.0  0.0  0.0  1.0  0.0  0.0  0.0  1.0  0.0  0.0  181577.0
..   ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...       ...
995  0.0  0.0  0.0  1.0  1.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0   35820.0
996  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  1.0  1.0  0.0  0.0  155144.0
997  0.0  0.0  1.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  1.0  0.0   66604.0
998  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  1.0  0.0  215883.0
999  0.0  0.0  0.0  1.0  0.0  1.0  0.0  0.0  0.0  0.0  1.0  0.0  248360.0

[1000 rows x 13 columns]

In [58]:
#beautiful thing is our all data is numerical 
#but just in case that is not clear one more way to do this
# Another way to do it with pd.dummies...

dummies = pd.get_dummies(car_sales[["Make", "Colour", "Doors"]])
dummies

,Doors,Make_BMW,Make_Honda,Make_Nissan,Make_Toyota,Colour_Black,Colour_Blue,Colour_Green,Colour_Red,Colour_White
0,4,0,1,0,0,0,0,0,0,1
1,5,1,0,0,0,0,1,0,0,0
2,4,0,1,0,0,0,0,0,0,1
3,4,0,0,0,1,0,0,0,0,1
4,3,0,0,1,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...
995,4,0,0,0,1,1,0,0,0,0
996,3,0,0,1,0,0,0,0,0,1
997,4,0,0,1,0,0,1,0,0,0
998,4,0,1,0,0,0,0,0,0,1
999,4,0,0,0,1,0,1,0,0,0

In [59]:
# so now our data is all in zeros and ones lets try and refit the model

In [61]:
# Let's refit the model
np.random.seed(42)
np.random.seed(42)
X_train, X_test, y_train, y_test = train_test_split(transformed_X,
                                                    y, 
                                                    test_size=0.2)

model.fit(X_train, y_train)

RandomForestRegressor()

In [62]:
model.score(X_test , y_test)

0.3235867221569877

In [63]:
X.head()

     Make Colour  Odometer (KM)  Doors
0   Honda  White          35431      4
1     BMW   Blue         192714      5
2   Honda  White          84714      4
3  Toyota  White         154365      4
4  Nissan   Blue         181577      3

In [64]:
#we don't get error because our data is numerical now as for this score here if we imagine the best score we can get is 1.0 the model probably hasn't done as well as it could possibly do 
#if you looked the data and try to use this and pridict the car price probably preety hard so may be the model have found some pattern but they just not great because there is not to much details about samples
#but that is not point point is we convert the data from being  non numerical to completely  numerical and that has allowed us to fit a  machine learning model on it

### 1.2 What if there were missing vlaues?

1.Fill them with some value (also known as impuation).
2.Remove the sampels with missing data altogether.

In [70]:
#import car sales missing data
car_sales_missing = pd.read_csv("./car-sales-missing-data.csv")
car_sales_missing.head()

     Make Colour  Odometer (KM)  Doors    Price
0   Honda  White        35431.0    4.0  15323.0
1     BMW   Blue       192714.0    5.0  19943.0
2   Honda  White        84714.0    4.0  28343.0
3  Toyota  White       154365.0    4.0  13434.0
4  Nissan   Blue       181577.0    3.0  14043.0

In [71]:
#isna in pandas it is called Nan if we do import this it will fill up with NaN
#this will show how many missing value are there
car_sales_missing.isna().sum()

Make             49
Colour           50
Odometer (KM)    50
Doors            50
Price            50
dtype: int64

In [73]:
#Create X & y

X = car_sales_missing.drop("Price", axis=1)
y = car_sales_missing["Price"]

In [75]:
#lets convert data into numebrs
# Turn the categories into numbers
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

categorical_features = ["Make", "Colour", "Doors"]
one_hot = OneHotEncoder()
transformer = ColumnTransformer([("one_hot",
                                   one_hot,
                                   categorical_features)],
                                   remainder="passthrough")

transformed_X = transformer.fit_transform(X)
transformed_X

<1000x16 sparse matrix of type '<class 'numpy.float64'>'
	with 4000 stored elements in Compressed Sparse Row format>

## Option 1: Fill missing  data with Pandas

In [77]:
car_sales_missing["Doors"].value_counts()

4.0    811
5.0     75
3.0     64
Name: Doors, dtype: int64

In [78]:
#ther is a couple of was
#1st one is fill missing data with pandas



# we might do any categorical column fill with missing string any of the others, like numerical we might just fill it with the mean of the column fillig data is not best practise actually if you haven't real value there
#but there's a few things that are kind of just just like level one ways fo feelin gdata, like a categorical  you might fill it with missin ga numerical column , you might fill it with the mean like the average of that column, like  any missin gvlaue will ahve the average fo that column so thery 're not tot far away form ther rest of the values in there 

# Fill the "Make" column
car_sales_missing["Make"].fillna("missing", inplace=True) # inplace = true either or you can do re-assign

#Fill the colour column
car_sales_missing["Colour"].fillna("missing", inplace=True)

# Fill the "Odometer (KM)" column
car_sales_missing["Odometer (KM)"].fillna(car_sales_missing["Odometer (KM)"].mean(), inplace=True)

# Fill the "Doors" column

#now on doors is a different one as well because we said before that it can kind of be a category, but waht w emight do is because majority of the doors like say if we go ehre, we check it out
#the average door most car have is 811 
car_sales_missing["Doors"].fillna(4, inplace=True)

In [79]:
# Check out dataframe again
car_sales_missing.isna().sum()

Make              0
Colour            0
Odometer (KM)     0
Doors             0
Price            50
dtype: int64

In [80]:
#so all of the feature columns, so make color odometer doors are a ll full of values except the price column now we knid of left this one out on purpose because 
# price is special , because it's the one we're trying to pridict what we might do is  just remove the rows from our dataframe that have missing price values s
#so we are going to lose some data, but it's hard to really predict something when it doesn't have a label so let's do that

## Reomve rows with missin gprice value 
car_sales_missing.dropna(inplace=True)

In [81]:
car_sales_missing.isna().sum()

Make             0
Colour           0
Odometer (KM)    0
Doors            0
Price            0
dtype: int64

In [82]:
len(car_sales_missing)

950

In [83]:
# we kind of lost of 50 samples at the sacrifice of filling up all the data and removing any sampels that don't have a label a.k.a the price column

In [84]:
X = car_sales_missing.drop("Price", axis = 1)
y = car_sales_missing["Price"]

In [86]:
# Turn the categories into numbers
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

categorical_features = ["Make", "Colour", "Doors"]
one_hot = OneHotEncoder()
transformer = ColumnTransformer([("one_hot",
                                   one_hot,
                                   categorical_features)],
                                   remainder="passthrough")

transformed_X = transformer.fit_transform(car_sales_missing)
transformed_X

array([[0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 0.00000e+00,
        3.54310e+04, 1.53230e+04],
       [1.00000e+00, 0.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        1.92714e+05, 1.99430e+04],
       [0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 0.00000e+00,
        8.47140e+04, 2.83430e+04],
       ...,
       [0.00000e+00, 0.00000e+00, 1.00000e+00, ..., 0.00000e+00,
        6.66040e+04, 3.15700e+04],
       [0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 0.00000e+00,
        2.15883e+05, 4.00100e+03],
       [0.00000e+00, 0.00000e+00, 0.00000e+00, ..., 0.00000e+00,
        2.48360e+05, 1.27320e+04]])

In [87]:
#so we can see that now we have converted again our carsales missing data into nmbers and we filled  so that is just on eoption
#you might be thinking in sckit   learn why do use pandas as pandas is very versatile and kind of fun to use
#so we can replicate this what we've done with pandas with pure sckit learn so why do we don't look at that ?

#### Option 1: Fill missing data with Pandas

In [4]:
#import car sales missing data
car_sales_missing = pd.read_csv("./car-sales-missing-data.csv")
car_sales_missing.head()

     Make Colour  Odometer (KM)  Doors    Price
0   Honda  White        35431.0    4.0  15323.0
1     BMW   Blue       192714.0    5.0  19943.0
2   Honda  White        84714.0    4.0  28343.0
3  Toyota  White       154365.0    4.0  13434.0
4  Nissan   Blue       181577.0    3.0  14043.0

In [5]:
car_sales_missing.isna().sum()

Make             49
Colour           50
Odometer (KM)    50
Doors            50
Price            50
dtype: int64

In [7]:
#Drop the rows with no labels
#if the any rows missing with price value just drop that rows
car_sales_missing.dropna(subset=["Price"], inplace=True)
car_sales_missing.isna().sum()

Make             47
Colour           46
Odometer (KM)    48
Doors            47
Price             0
dtype: int64

In [11]:
# Split into X & y
X = car_sales_missing.drop("Price", axis=1)
y = car_sales_missing["Price"]

In [12]:
# Check missing values
X.isna().sum()

Make             47
Colour           46
Odometer (KM)    48
Doors            47
dtype: int64

In [14]:
# Fill missing values with scikit-learn


#filling missing values is also called imputation which is what this does it's a simple imputer from sckit learn that gone us help  to fill missing values
#we have seen this one before allow us to define some kind of transformer and then apply it towhichever columns that 
from sklearn.impute import SimpleImputer
from sklearn.compose import ColumnTransformer

# Fill missing values with Scikit-Learn
from sklearn.impute import SimpleImputer
from sklearn.compose import ColumnTransformer 

# Fill categorical values with 'missing' & numerical values with mean
cat_imputer = SimpleImputer(strategy="constant", fill_value="missing")  #its saying for every value keep your strategy constant and the fill value and fill value is going to missing 
door_imputer = SimpleImputer(strategy="constant", fill_value=4)#door is a agian  that little funny one as it is a categorical and numerical 
num_imputer = SimpleImputer(strategy="mean")

# Define columns
cat_features = ["Make", "Colour"]
door_feature = ["Doors"]
num_features = ["Odometer (KM)"]

# Create an imputer (something that fills missing data)          
imputer = ColumnTransformer([
    ("cat_imputer", cat_imputer, cat_features),
    ("door_imputer", door_imputer, door_feature),
    ("num_imputer", num_imputer, num_features)
])

# Transform the data
filled_X = imputer.fit_transform(X)
filled_X

array([['Honda', 'White', 4.0, 35431.0],
       ['BMW', 'Blue', 5.0, 192714.0],
       ['Honda', 'White', 4.0, 84714.0],
       ...,
       ['Nissan', 'Blue', 4.0, 66604.0],
       ['Honda', 'White', 4.0, 215883.0],
       ['Toyota', 'Blue', 4.0, 248360.0]], dtype=object)

In [16]:
# Get our transformed data array's back into DataFrame's
car_sales_filled = pd.DataFrame(filled_X, 
                                      columns=["Make", "Colour", "Doors", "Odometer (KM)"])

car_sales_filled.head()

     Make Colour Doors Odometer (KM)
0   Honda  White   4.0       35431.0
1     BMW   Blue   5.0      192714.0
2   Honda  White   4.0       84714.0
3  Toyota  White   4.0      154365.0
4  Nissan   Blue   3.0      181577.0

In [17]:
car_sales_filled.isna().sum()

Make             0
Colour           0
Doors            0
Odometer (KM)    0
dtype: int64

In [18]:
# Turn the categories into numbers
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

categorical_features = ["Make", "Colour", "Doors"]
one_hot = OneHotEncoder()
transformer = ColumnTransformer([("one_hot",
                                   one_hot,
                                   categorical_features)],
                                   remainder="passthrough")

transformed_X = transformer.fit_transform(car_sales_filled)
transformed_X

<950x15 sparse matrix of type '<class 'numpy.float64'>'
	with 3800 stored elements in Compressed Sparse Row format>

In [19]:
# Now we've got our data as numbers and filled (no missing values)
#Let's fit a model

np.random.seed(42)
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split

model = RandomForestRegressor()

X_train , X_test , y_train , y_test = train_test_split(transformed_X , 
                                                      y,
                                                      test_size = 0.2)
model = RandomForestRegressor()
model.fit(X_train , y_train)
model.score(X_test , y_test)

0.21990196728583944

In [22]:
#so you can see the model perform worst  in the case then privous one 
#why do you think this perform worst because it get only 950 samples but prvious one get 1000
#they're both not doing as ideally as we might like but why do you think this one performed worse 
len(car_sales_filled)

950